<!DOCTYPE html>
<html>
<head>
    <title>Support</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'styling2.css')}}">
</head>
<body>
	<div id="header">
		<a href="{{url_for('index')}}" class="logo">
			<img src="{{url_for('static',filename = 'Mediserve.png')}}" alt="">
		</a>
		<nav>
			<ul>
				<li><a href="{{url_for('index')}}">Home</a></li>
			</ul>
		</nav>
	</div>
	<center>
			<div id="background-im">
			<div id="content1">
			<h1>About Us</h1>
			<h4></h4>
			</div>
			<div id="content2">
			<h2>Mediserve gives you disease prediction from your symptoms and suggest extra precautions aloong with a brief description of the disease.
			Getting started is easy!No Login! No Signup! To get started you only have to give the symptoms you
			have, that's it. You will get the predicted disease along with that you will be also getting a brief description of the disease and we
			also suggest precautions to be taken by you to get well soon. And the last thing, the prediction is absolutely free of cost.
			So, what are you thinking. Begin on main page by selecting at least three features below. <br><br>Team MediServe</h2>
			</div>
			</div>
			<div id="background-im2">
			<div id="content3">
			<h1>Email Id.</h1>
			</div>
			<div id="content4">
			<h2>ankurme999@gmail.com</h2>
			</div>
			</div>
			<div id="background-im3">
			<div id="content5">
			<h1>Contact Us</h1>
			<h3>Phone Number</h3>
			</div>
			<div id="content4">
			<h2>9433832794</h2>
			</div>
			</div>
			<div id="background-im2">
			<div id="content6">
			<h1>Facebook Id.</h1>
			</div>
			<div id="content4">
			<h2>Facebook er link ta</h2>
			</div>
			</div>
			<div id="background-im2">
			<div id="content7">
			<h1>Youtube</h1>
			</div>
			<div id="content4">
			<h2>youtube er link ta</h2>
			</div>
			</div>
	</center>
</body>
</html>
